[2015-01-27 16:45] cynthia opened #1 "Setup IRC hook for commits"
Would be nice to setup a IRC hook for commits. Channel should be #touchevents at irc.w3.

[2015-01-27 16:46] cynthia commented on #1
@sideshowbarker @shepazu ?

[2015-01-27 16:48] cynthia opened #2 "Reformat code"
The master source for the spec is pretty poorly formatted - should fix this. Think the agreement was to do 4 space indentation, but the rest is a bit fuzzy.

[2015-01-27 16:48] cynthia commented on #2
Probably only needed for master, since that's the only branch that will get active updates.

[2015-01-30 13:05] sideshowbarker commented on #1
should be all set up now

[2015-02-02 01:50] AFBarstow commented on #1
thanks @sideshowbarker !

[2015-02-09 23:04] patrickhlauke commented on #2
And v1-errata ...

[2015-02-09 23:10] patrickhlauke opened #4 "Note about PFWG's non-normative event mapping document"
https://github.com/patrickhlauke/touch-events/commit/beaa75be016e1bf343e78658e8c0b68925d951a0 hides the current note (as it's been pointing to an empty document since the Touch Event spec's first publication, and to date there's no resolution on who/what/when this will be produced) as a comment. Either the comment needs to be completely removed from the document or the mapping document needs to be

[2015-02-11 02:16] RByers opened #6 "Not all touch events should be uncancelable"
Browsers have always sent touch events asynchronously (and therefore in an uncancelable fashion) in some circumstances - eg. during scrolling.  The spec text should be updated somehow to reflect this.  We agreed on such a change [here](https://lists.w3.org/Archives/Public/public-touchevents/2014May/0003.html), but I haven't gotten around to changing the spec text yet.

Mustaq says he'll make the e

[2015-02-21 14:27] patrickhlauke opened #9 "Repo organisation"
Not a major issue, but the current way this repo uses branches is not ideal, in my opinion. The fact that master is a completely different document (TE extensions) compared to the branches (TE) is confusing and non-standard. The two separate documents should perhaps be sibling documents in master instead? touch-events.html and touch-events-extensions.html?

[2015-02-21 14:32] patrickhlauke commented on #9
(ideally, it would be two completely separate repos if possible...one for TE extensions, one for TE)

[2015-03-03 14:39] RByers commented on #1
I've seen this working.

[2015-03-03 14:39] #1 closed

[2015-03-03 14:43] RByers commented on #4
In review we decided to remove this entirely: d40797ac39a4f8347bb38b32ca4b558f56895bb1.  We can resurrect it if something changes here.  I think we can close this bug since we have no action to take in this group.  Feel free to re-open.

[2015-03-03 14:43] #4 closed

[2015-03-03 16:09] patrickhlauke commented on #4
:+1:

[2015-03-06 13:29] RByers opened #10 "TouchEvent and Touch should have constructors"
Most other event types have constructors defined these days.  TouchEvent should as well.  initTouchEvent was never standardized (though supported by some browsers), I suggest we go straight to standardizing a TouchEvent constructor.

Perhaps Touch and TouchList should also have constructors in favor of document.createTouch/createTouchList?

[2015-03-06 13:30] patrickhlauke commented on #10
I think that's a substantive change, though. Is that in scope for errata, or - as is my hunch - does this need to be a version 2.0 (with associated WG etc overhead)?

[2015-03-06 13:33] RByers commented on #10
Right we could only do this in some future v2.  I figured it was worth making a list of the things we might want in some future version of the spec.  WDYT?

[2015-03-06 13:39] patrickhlauke commented on #10
Oh sure, in that context, it makes sense for consistency.

[2015-03-06 13:44] RByers commented on #10
Perfect, thanks (I was just trying to figure out what the github way of categorizing bugs was - got distracted by 'labels').

[2015-03-06 13:54] RByers commented on #10
History from WebEvents WG which originally resolved to add a constructor: http://www.w3.org/2010/webevents/track/issues/23

initTouchEvent was never standardized because WebKit's (and now blink's) implementation is bizarre (has 4 unused params): https://bugs.webkit.org/show_bug.cgi?id=60612

[2015-03-06 15:33] foolip opened #11 "Define the ontouch* event handler attributes"
Specs need to define these explicitly, as not all events have the corresponding event handler attributes. See Fullscreen for an example: https://fullscreen.spec.whatwg.org/#api

Blink has `ontouchstart`, `ontouchend`, `ontouchmove` and `ontouchcancel` on the `Document`, `Element` and `Window` interfaces.

[2015-03-06 15:50] RByers opened #12 "Touch Event Extensions note should add arguments to CreateTouch"
TEE adds 4 new properties to 'Touch' but doesn't update the signature of Document.createTouch to permit JavaScript to specify those properties.

Here's the [signature of createTouch in blink](https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/Source/core/dom/Document.idl&q=file:Document.idl%20createTouch&sq=package:chromium&type=cs&l=171), or what it will be once [these]

[2015-04-14 13:07] RByers commented on #6
Note that the definition of 'asynchronous' I was using here probably doesn't match that of DOM events.  What I think is most important to web developers (and browser implementers) is when touch events block browser actions like scrolling and zooming.  Perhaps focusing just on 'cancelable' is the proper way to handle this in the spec.  Regardless, someone needs to figure out how to get this worded

[2015-05-08 15:59] RByers opened #13 "Spec should be explicit on whether the of elements in TouchLists is relevant"
I believe the order of TouchList entries is supposed to be irrelevant.  However some sites (eg. [this one](http://mmeiers.github.io/content-multitouchimages/)) make assumptions about a given touch ID remaining at the same index in the TouchList from event to event.  There was a special case in blink where we weren't preserving order, and we're going to [fix this](https://code.google.com/p/chromium

[2015-05-08 17:19] patrickhlauke commented on #13
My gut feeling is that no, the spec should clarify that the order/index may change and that authors should rely only on the id.

I've not had a chance to test it, but: if i put 3 fingers on the screen in sequence, and then remove the second one, is the expectation from devs that you'd still see a touch point on 0 and 2 in the touchlist? what would index 1 contain, then? null?

[2015-05-08 17:22] scottgonzalez commented on #13
I also don't think we should specify an order for existing touches.

On Fri, May 8, 2015 at 1:19 PM, Patrick H. Lauke <notifications@github.com>
wrote:

[2015-05-11 19:07] RByers commented on #13
I don't think we'd ever want to leave gaps no.  We should test to see if
all existing implementations maintain order in the simple case of no
touchstart/touchend.  If so, that might at least be worth a note - with a
warning saying you shouldn't rely on it.  The fact that a site was relying
on this caught us by surprise (though it's of course not surprising in
retrospect) - seems like the sort of t

[2015-05-11 20:12] patrickhlauke commented on #13
On 11/05/2015 20:07, Rick Byers wrote:

Ah, so the site was relying on the order/index remaining the same
during, say, a touchmove when no fingers were added/removed? Ok, that
kind of makes sense, though conceptually, you would then still need to
include handling code that DOES look at the actual unique IDs as soon as
a touch is added/removed, which then begs the question why they don't do
that in

[2015-05-12 00:10] RByers commented on #13
It looks like hammer.js [has this issue](https://github.com/hammerjs/hammer.js/issues/791) in their rotation gesture recognizer (rotation will flip 180 degrees if the two touch points swap position in the touches list).  Even if they fix this, we know tons of sites use hammer.js (though I'm not sure how common rotation gesture recognition is).

[2015-07-08 20:11] RByers opened #15 "Switch default branch to gh-pages and delete master"
Active work is now happening in the gh-pages branch, so the default branch should be switched and 'master' deleted to avoid confusion.  I don't appear to have the necessary permissions to do this.  @AFBarstow?

[2015-07-08 20:17] patrickhlauke commented on #15
could you hold off as I'm now in the middle of re-porting my errata from https://github.com/w3c/touch-events/pull/3 which seem to have fallen by the wayside in the recent change?

[2015-07-09 02:04] RByers commented on #12
I think these old APIs should be deprecated in favor of the constructor (#10).

[2015-07-09 02:07] RByers commented on #10
I'd like to do this because otherwise there's no way to create a TouchEvent with any new fields in UIEvent (such as [sourceDevice](rbyers.github.io/InputDevice/inputdevice.html)), or any of the new extension values (radius, etc.).

In fact, I suspect there's so little usage of createTouch/createTouchList/initTouchEvent that we will be able to remove them completely once there is a constructor (col

[2015-07-09 02:40] RByers commented on #9
Addressed by my latest commits.

[2015-07-09 02:40] #9 closed

[2015-07-09 02:41] RByers commented on #2
@cynthia are you still planning on doing anything here?  This doesn't really bother me (but I've been doing some little cleanups as I go).

[2015-07-09 02:44] RByers opened #18 "Redirect "latest editors draft" link to github."
The [currently published spec](http://www.w3.org/TR/touch-events/) points to [https://dvcs.w3.org/hg/webevents/raw-file/v1/touchevents.html](https://dvcs.w3.org/hg/webevents/raw-file/v1/touchevents.html) as the latest editors draft.

As [for the pointer-events spec](https://lists.w3.org/Archives/Public/public-pointer-events/2015AprJun/0104.html), we should get GitHub redirection setup.

@AFBarstow

[2015-07-09 03:31] cynthia commented on #2
Are all the bigger edits in? I think Patrick and you did some stuff, but I could go in and do a full sweep if there aren't any big changes in progress that might cause merge conflicts later.

[2015-07-09 03:32] RByers commented on #2
I've got [two pull requests](https://github.com/w3c/touch-events/pulls) open right now.  Maybe once those land?  Not urgent or anything, was just trying to clean up open issues.

[2015-07-09 04:13] cynthia commented on #2
Ok, then it's probably safer to do after the two PRs are merged.

[2015-07-28 14:26] RByers opened #19 "Enable GitHub notifications to public-touch-events"
As for other W3C groups, public-touch-events@w3.org should get notifications of any changes in GitHub. Doug, can you do this please?

Looks like notifications are already going to IRC (#touchevents).

[2015-07-28 16:03] RByers opened #20 "Should we keep the identifiedTouch method?"
From what I can tell, TouchList.identifiedTouch was in the original v2 draft from the beginning.  We removed it from v1 due to lack of implementations (only Mozilla).  Should we keep it in v2?  It doesn't seem to add much value to me (a linear search through the list is probably the fastest implementation for any realistic number of touch points).  But if the group likes it then I'm happy to keep

[2015-07-28 16:16] mbrubeck commented on #20
I think we should remove it. I agree with the reasons above.

[2015-07-28 16:18] #12 closed

[2015-07-28 16:22] RByers opened #21 "Re-add tests for extentions APIs"
At one point we did have tests for radiusX, radiusY, force, rotationAngle but removed them when those were moved to the extensions note.  We should re-add them.

@SummerWW, are you interested in doing this (as part of your work on improving blink's use of W3C tests)?

[2015-07-28 16:39] #20 closed, assigned to nobody

[2015-07-28 16:41] shepazu commented on #15
Default branch is now gh-pages.

Deleted master branch.

[2015-07-28 16:41] #15 closed, assigned to shepazu

[2015-07-28 16:48] RByers opened #24 "Delete wd and v1-errata branches?"
We've decided we're not going to publish an errata, seems like the v1-errata branch serves no purpose.  Should we delete it?  Also 'wd' doesn't seem to serve any purpose anymore either.

'v1' is still valuable to track how things have changed since original publication (though it's a little messy due to how some v1/v2 edits were authored in hg then moved to github).

[2015-07-28 16:52] LanWei22 commented on #21
Sure, I will add these when I am working on the W3C tests.

[2015-07-28 16:58] RByers commented on #20
Thanks Matt.  Are you going to file a Mozilla bug to deprecate / consider removing this API, or would you like me to?  At least MDN should be updated.

[2015-07-28 19:07] mbrubeck commented on #20
Filed [bug 1188539](https://bugzilla.mozilla.org/show_bug.cgi?id=1188539) and updated MDN.

[2015-07-28 19:26] RByers commented on #20
Great, thank you!

[2015-07-30 12:29] AFBarstow opened #26 "Move touchevents.html to index.html?"
Since the default branch of this repo is now gh-pages, perhaps touchevents.html should be moved to index.html so that https://w3c.github.io/touch-events/ is the "live" ED?

WDYT? If there are no objections, I'll submit a PR.

[2015-07-30 12:31] AFBarstow commented on #24
OK, so keep the v1 branch and delete the v1-errata and wd branches. Any objections?

[2015-07-30 12:45] patrickhlauke commented on #26
That'd be my preference too...

[2015-07-31 22:56] AFBarstow commented on #19
On July 30 I submitted a request to do this and today I received a notification that the request has been done. (I'll leave this open until we see this repo's traffic get forwarded to p-touch-events list.)

[2015-07-31 22:57] AFBarstow commented on #19
Closing (this Issue has been addressed).

[2015-07-31 22:57] #19 closed, assigned to shepazu

[2015-08-06 16:16] RByers commented on #10
Fixed in #16

[2015-08-06 16:16] #10 closed

[2015-08-06 18:29] RByers opened #27 "Add tests for TouchEvent and Touch constructors"
With constructors in the spec (#10) we should add some test cases to web-platform-tests for them.

[2015-08-06 19:18] RByers commented on #10
For the record, here are bugs tracking implementation in [Blink](https://code.google.com/p/chromium/issues/detail?id=508675) and [WebKit](https://bugs.webkit.org/show_bug.cgi?id=147740)

[2015-08-10 14:05] RByers commented on #26
Can we also leave a dummy touchevents.html behind that does a redirect?  There are a few links floating around.  If so, then renaming sounds good to me.

[2015-08-10 14:11] RByers commented on #18
Or is @shepazu the one that needs to arrange this for us?

[2015-08-10 14:12] RByers commented on #2
@cynthia All open pull requests have now landed, so now would be a good time to do reformatting if you're still interested.

[2015-08-10 14:14] cynthia commented on #2
@RByers Cool, will try to slide a PR in this week.

[2015-08-10 14:14] RByers commented on #24
Done.
RByers deleted wd at d62ea68
RByers deleted v1-errata at 9a5e800

[2015-08-10 14:14] #24 closed, assigned to RByers

[2015-08-10 14:15] cynthia commented on #18
We could probably do it ourselves if we can make use of echidna, but I'm not sure if that applies in this case considering the state of the group/spec. @AFBarstow ?

[2015-08-10 14:17] RByers commented on #11
We should probably do this exactly like [in Pointer Events](https://w3c.github.io/pointerevents/#extensions-to-the-globaleventhandlers-interface).  Should be trivial for anyone interested in supplying a PR.  When doing this we should also add tests to web-platform-tests (or file a separate issue to track that).

[2015-08-10 14:35] AFBarstow commented on #18
@cynthia @RByers given a CG can't formally publish TRs, I think what we want to do here is to redirect the Hg ED http://dvcs.w3.org/hg/webevents/raw-file/v1/touchevents.html to http://w3c.github.io/touch-events/touchevents.html. Correct?

AFAIK, that redirection can only be done by w3c staff so I will submit a request after you confirm the above is what we want.

[2015-08-10 14:38] AFBarstow commented on #26
RByers > Can we also leave a dummy touchevents.html behind that does a redirect?

After the rename/move, I _think_ Github will do this auto-magically. We can always do the move and then test (and add the stub file if necessary).

[2015-08-10 14:39] RByers commented on #11
Chromium [bug 518850](https://code.google.com/p/chromium/issues/detail?id=518850) tracks moving these from `Document`, `Element` and `Window` to `GlobalEventHandlers`.

[2015-08-10 14:39] cynthia commented on #18
Ah, that was what I was afraid of. Ignore my comment about echidna in that case. :)

[2015-08-10 14:44] AFBarstow commented on #18
@cynthia echnida comment ignored ;-)

(Actually, re the redirect, after touchevents.html is renamed to index.html, the Hg ED will redirect to http://w3c.github.io/touch-events/. )

[2015-08-10 14:50] RByers commented on #18
Yep, sounds right to me.

[2015-08-10 14:51] RByers commented on #26
Sounds great!

[2015-08-10 15:49] AFBarstow commented on #18
This redirect now works.

[2015-08-10 15:49] #18 closed, assigned to AFBarstow

[2015-08-10 15:52] AFBarstow commented on #26
The rename has been done but there is the issue that <> now 404's. @RByers suggested using the following meta/refresh as a pattern we can use to create a new stub _touchevents.html_ file that redirects to index.html http://webmaster.iu.edu/tools-and-guides/maintenance/redirect-meta-refresh.phtml

[2015-08-10 15:56] AFBarstow commented on #26
Ooops, it is http://w3c.github.io/touch-events/touchevents.html that now 404s.

[2015-08-10 16:49] RByers commented on #18
Thanks Art!

[2015-08-11 11:53] AFBarstow commented on #26
I created the dummy/stub touchevents.html file so http://w3c.github.io/touch-events/touchevents.html no longer 404's. Feel free to update this file.

[2015-08-11 14:10] RByers commented on #26
Looks great, thanks!

[2015-08-11 14:10] #26 closed, assigned to nobody

[2015-08-11 15:19] RByers opened #28 "TouchInit should perhaps include pageX and pageY"
In #10 I added a constructor for Touch.

@foolip [says](https://codereview.chromium.org/1272603003/#msg8):

I was thinking we were following the pattern from MouseEvent here (and keeping with the pattern of document.createTouch).

[UIEvents says](https://w3c.github.io/uievents/#interface-MouseEvent):

But I guess that's a little different as the UIEvents spec doesn't specify the other attributes.

[2015-08-12 07:31] foolip commented on #28
Oh, so there's similar discrepancies for `MouseEvent` vs. `MouseEventInit`. I don't really feel strongly about this, it just struck me as unusual. Perhaps @annevk has strong opinions on what an event init dict should look like.

[2015-08-12 07:38] annevk commented on #28
I think UI Events is quite broken when it comes to `MouseEvent` (UI Events is better not used as a guidance for defining events):
1. It should include the missing members.
2. Although it should not change `initMouseEvent()` arguments, it should define the method fully. Not through a note.
3. The missing members should be included in the `MouseEventInit` dictionary.

[2015-08-18 14:57] RByers opened #29 "Standardize initTouchEvent?"
The WebEvents working group previously decided not to normatively specify `initTouchEvent` because there were differences in implementation and weird extra co-ordinate parameters that made no sense.

However, according to an [httparchive search](http://bigqueri.es/t/analyzing-html-css-and-javascript-response-bodies/442) there is a non-trivial amount of usage of this API (1236 of the top 300k websi

[2015-08-18 15:15] RByers commented on #28
Ok, thanks - we'll do that.

I assume you mean `initTouchEvent`, right?  We had a big debate about this back for TEv1 - there were issues with differences of implementation and a strange API signature.  That said, I just did an httparchive search and found a surprising amount of usage of `initTouchEvent` so I agree we should just specify what Safari does.  Filed #29

[2015-08-18 15:55] annevk commented on #28
My post was specifically about UI Events, though some of it may apply to Touch Events too. `initTouchEvent` would be sad, but if enough implementations ship it that might be a lost cause.

[2015-08-18 18:31] RByers commented on #28
Ah, ok - sorry for the confusion.  I'm not involved in trying to change the `UI Events` spec, so I'm focused here just on what we should do for `TouchEvents`.  `initTouchEvent` is a note today and it's not clear to me if the usage matters or not - we'll try to figure that out [here](https://code.google.com/p/chromium/issues/detail?id=522100).

[2015-08-18 19:17] smaug---- commented on #28
(pageX/Y are odd properties, since if MouseEvent is created by a script, pageX/Y are computed from clientX/Y values passed to ctor/init*Event and the web relies on that behavior. But I guess explicitly passing pageX/Y would be fine too)

[2015-08-18 20:03] annevk commented on #28
That does seem to require some special logic. Perhaps even in the generic event constructor algorithm...

[2015-08-18 21:52] RByers commented on #28
Yeah there's not going to be any getting around the fact that we have to define the logic for `MouseEvent`.  The argument here was whether we should figure how how to define the `Touch` constructor to do the same thing as for `MouseEvent`, or just require `pageX/Y` to be specified explicitly (computed by the caller instead of by the engine).

Anne convinced me we should do the latter.  Anne, are y

[2015-08-19 07:12] annevk commented on #28
I think ideally the `TouchEvent` constructor has no magic with regards to `pageX`/`pageY` or any other properties.

[2015-09-22 17:54] RByers commented on #6
When we fix this, we should also take into account the effect of [EventListenerOptions](https://github.com/rbyers/EventListenerOptions), eg. RByers/EventListenerOptions#20.  This is somewhat subtle and complex, assigning to myself to work on (if/when EventListenerOptions is adopted into the DOM spec).

[2015-09-28 21:05] patrickhlauke opened #30 "force property?"
Rumor has it that Apple's 3D touch adds a new `force` property. At the risk of opening another can of IP/patent worms, wondering if this can be considered for documentation (if it does indeed turn out to be stable). See http://www.mobilexweb.com/blog/ios9-safari-for-web-developers#update928

[2015-09-28 23:21] AFBarstow commented on #30
This property is included in the [Touch Events Extensions Note](http://www.w3.org/TR/2013/NOTE-touch-events-extensions-20131031/)  and the [Touch Events Level 2 ED](http://w3c.github.io/touch-events/). If we have two implementations and/or have reasonable commitments to implement it, we should work toward getting the L2 spec on the REC track.

[2015-09-29 00:48] RByers commented on #30
My iPhone 6s hasn't arrived yet, but I'm under the impression (based on discussions with Ben, eg. [here](https://twitter.com/RickByers/status/641804114922356736)) that it implements our `force` exactly as spec'd - for 3d touch and for the pencil (and so interoperable with Chrome's existing Android stylus support).

Note that Chrome has both `force` and ([until Chrome 47](https://code.google.com/p/

[2015-09-29 00:50] RByers commented on #30
But I'm not aware of a 2nd implementation of `radiusX`, `radiusY` or `rotationAngle` yet.  There's some support for adding radius to WebKit [here](https://bugs.webkit.org/show_bug.cgi?id=133642).

[2015-09-29 00:51] #30 closed, assigned to nobody

[2015-09-29 08:18] patrickhlauke commented on #30
Oops, my bad. I remembered about `radiusX`, `radiusY` and `rotationAngle`, but somehow it slipped my mind that `force` was also spec'd already. Sorry for the noise...

[2015-10-20 16:46] AFBarstow opened #31 "Convert idl to new respec format (double comma in some dictionary members)"
Some of the members of the Dictionary objects (f.ex. clientX) include ", ," (comma, space, comma) in their definitions.

(Perhaps this is some kind of bug with using ReSpec?)

[2015-10-21 16:25] RByers commented on #31
Thanks.  Looks like specific to the [TouchInit](https://w3c.github.io/touch-events/#dictionary-touchinit-members) dictionary definition (probably my mistake when I added it).  Chong on my team is taking a look.

[2015-10-21 16:27] mbrubeck commented on #31
This also shows up on other dictionary members with default values, like the `touches` property of `TouchEventInit`.

[2015-10-21 22:40] AFBarstow opened #32 "Need a reference for "CSS Pixel""
The spec refers to "CSS Pixel" but there is no reference to the spec that defines that term.

[2015-10-21 22:42] patrickhlauke commented on #32
assuming you mean a link to http://www.w3.org/TR/css3-values/#absolute-lengths right?

[2015-10-22 15:41] AFBarstow opened #33 "Include pageX/Y in the TouchInit dictionary"
Why are the pageX and pageY attributes not explicitly included in the [TouchInit dictionary](https://w3c.github.io/touch-events/#touch-interface)?

[2015-10-22 16:08] mbrubeck commented on #33
Duplicate of #28.

[2015-10-22 16:08] #33 closed, assigned to nobody

[2015-10-22 20:14] AFBarstow commented on #33
Thanks Matt!
(If someone else asks about this, we should consider adding a non-normative note that explains the absence of these two attributes from the dictionary.)

[2015-10-22 21:43] RByers commented on #28
I was all set to add these, but then Anne mentioned on another thread somewhere (that I can't find) that he's no longer convinced of the above comment.  Anne, what's your current guidance here?  Should event initializers be dumb structs that initialize every property (even when the values are technically not self consistent), or should the constructors be smart enough to initialize derived propert

[2015-10-24 14:50] AFBarstow opened #34 "Length of changedTouches list during a touchstart event"
The [spec says](http://w3c.github.io/touch-events/#widl-TouchEvent-changedTouches) the following regarding changed changedTouches list and touchstart events:

[[
For the touchstart event this must be a list of the touch points that just became active with the current event.
]]

This implies changedTouches can have more than one touch point during touchstart but is that really the case? It seems li

[2015-10-25 15:00] AFBarstow opened #35 "Dangling sentence in touchcancel is confusing"
The following text in the description of cancelevent is "dangling" and needs some work:

[[
http://w3c.github.io/touch-events/#event-touchcancel

interactions. (e.g. The UA's native user interface, plug-ins) A user
]]

Options include: removing it; making it part of the preceding sentence; making it a stand-alone sentence (without parens).

[2015-10-25 17:44] patrickhlauke commented on #35
Proposed change:

`A user agent may non-document area which is capable of handling user interactions (e.g. the UA's native user interface, or an area of the document which is managed by a plug-in). A user agent`

[2015-10-25 22:41] AFBarstow commented on #35
@patrickhlauke "A UA may [something_appears_to_be_missing] non-document area ...".

[2015-10-25 23:12] patrickhlauke commented on #35
oops, i messed up the copy-paste from my actual PR into the comment above. the sentence from the PR reads:

[code]

[2015-10-26 06:08] annevk commented on #28
Well, I wasn't sure it matches what browsers do. That behavior is preferable still I think, since it requires no custom logic. Though we need some custom logic for `MouseEvent` and maybe other events?

[2015-10-26 09:58] foolip commented on #28
It looks like neither Blink nor Gecko have the `Touch` constructor yet, so this ought not be constrained by existing implementations.

[2015-10-26 13:48] RByers commented on #28
Thanks @annevk, that makes sense.  I'm also not sure what to do about `MouseEventInit` but since `TouchInit` is new, let's do the right thing and include the computed properties `pageX` and `pageY` (even though that may be inconsistent with `MouseEventInit`).

@choniong feel free to submit a pull request with that spec tweak (or if you prefer I can make it).

[2015-10-26 13:52] RByers commented on #27
We'll do this as part of [implementing the constructors in blink](https://github.com/w3c/web-platform-tests/blob/master/touch-events/create-touch-touchlist.html).  It should be easy - just create a new test similar to [create-touch-touchlist](https://github.com/w3c/web-platform-tests/blob/master/touch-events/create-touch-touchlist.html) but that uses the constructor syntax instead.

[2015-10-26 15:08] chong-z commented on #28
Sure I can do this, good place to start.

[2015-10-26 22:13] chong-z commented on #31
It seems to me that this might be a bug of [ReSpec - webidl-oldschool ](https://github.com/w3c/respec/blob/develop/js/core/webidl-oldschool.js#L1095-L1100)

[code]

Where `it.declaration` is always at least 9 characters long, [filled with spaces](https://github.com/w3c/respec/blob/develop/js/core/webidl-oldschool.js#L374-L375).

[code]

I noticed that there is another file [ReSpec - webidl-contigu

[2015-10-27 09:35] foolip commented on #11
`GlobalEventHandlers` in defined by https://html.spec.whatwg.org/#globaleventhandlers so either they'll have to be defined by the HTML spec, or another spec needs a `partial interface GlobalEventHandlers`. I don't know if that works or not, it's unusual in that `GlobalEventHandlers` isn't itself a "proper" interface, but the target of `implements`.

Also note that `GlobalEventHandlers` is implemen

[2015-10-27 10:00] foolip commented on #11
Looks like it's been done before: https://w3c.github.io/pointerevents/#extensions-to-the-globaleventhandlers-interface

[2015-10-27 10:06] foolip commented on #11
Uh, I didn't even notice that this was already merged and live:
http://w3c.github.io/touch-events/#extensions-to-the-globaleventhandlers-interface

Please ignore everything I've said.

[2015-10-27 10:08] patrickhlauke commented on #35
not hearing any objections, i may be so bold as to merge this PR...

[2015-10-27 10:08] #35 closed, assigned to nobody

[2015-10-27 14:46] RByers commented on #11
Don't worry about the fact that this has already landed, we can easily still make improvements here (and in the PEWG spec).  Note that `SVGElement` [also implements](https://svgwg.org/svg2-draft/types.html#InterfaceSVGElement) `GlobalEventHandlers`, so I think moving the definition from `Element` to `GlobalEventListeners` is almost completely a no-op.  Can you think of any realistic use cases whic

[2015-10-27 15:36] RByers commented on #31
Hmm, maybe [file a respec bug](https://github.com/w3c/respec/issues)  (assuming there isn't already one) and see what they say there?

[2015-10-27 15:37] foolip commented on #11
Oh right, `SVGElement` is doing this too now. It's hard to see much consistency when it comes to having APIs on `Element` vs. `HTMLElement`+`SVGElement`. In this case following the example of pointer events seems fine until there's a reason to do otherwise.

[2015-10-27 15:37] RByers commented on #31
And / or maybe see if this code has changed, and if so who changed it.  If ReSpec had always behaved this way I think we probably would have noticed sooner...

[2015-10-27 15:48] RByers commented on #34
In chromium I believe we'll never put two new touches in the same `touchstart` (or `touchend` event) but this is really just due to the API design of the underlying platforms we run on (where each finger comes as a separate event) and our desire not to buffer start/end events at all.  So I see no reason to require separate events (I could imagine doing a small performance optimization to try to me

[2015-10-27 15:48] #34 closed, assigned to nobody

[2015-10-27 15:50] RByers commented on #32
Yep, adding a reference to that sounds like a good idea to me.

[2015-10-27 15:50] chong-z commented on #31
The code was changed on [Apr. 22, 2015](https://github.com/w3c/respec/commit/3bbe54f9adac0d72b962c836908f64901c80e9b9) by @dontcallmedom , might be the issue?

But since [webidl-oldschool is deprecated](https://github.com/w3c/respec/issues/395) I'm not sure if we should file a bug?

[2015-10-27 16:50] AFBarstow commented on #34
ok; thanks for checking @RByers!

[2015-10-27 22:28] patrickhlauke commented on #32
Was going to do this, but have no idea how ReSpec automagically pulls in references. My gut feeling is that you'd simply add [[!CSS-VALUES]] somewhere near where we talk about CSS pixels...right?

[edit: nvm, just trying it out locally confirmed my hunch]

[2015-10-27 23:02] #32 closed, assigned to nobody

[2015-10-27 23:13] #28 closed, assigned to RByers

[2015-10-28 20:24] #11 closed

[2015-10-29 20:45] dtapuska opened #40 "TouchEventInit should inherit from EventModifierInit"
EventModifierInit is defined here: https://w3c.github.io/uievents/#idl-def-EventModifierInit

We should simply have TouchEventInit inherit from it and get rid of the alt, ctrl, meta, shift definitions in its dictionary in the Touch spec.

[2015-10-29 20:49] dtapuska opened #41 "should TouchEvent define getModifierState"
It seems odd to define the alt, meta, ctrl, shift keys on Touch Events; but nonetheless they are there.

We should define the getModifierState defined in https://w3c.github.io/uievents/#widl-KeyboardEvent-getModifierState if we do https://github.com/w3c/touch-events/issues/40

[2015-10-29 21:18] RByers commented on #41
They're definitely valuable in touch laptop scenarios (eg. I know some users do ctrl-tap to open links in new tabs, just like ctrl-click).  I don't see any reason why TouchEvent should be different from MouseEvent / PointerEvent with respect to modifiers.

Certainly hard to argue this is very important though.

[2015-10-29 21:20] dtapuska commented on #41
In blink the implementation is there; the IDL just needs to be modified so the bindings code will call the implementation.

[2015-10-29 21:21] RByers commented on #40
Ah, I thought I copied TouchEventInit from the MouseEventInit pattern, perhaps EventModifierInit was added after that?  But yes, let's do this right away before shipping the constructors in Chrome.  Thanks for catching this!

@choniong Assigning to myself to indicate that we intend to work on this (sadly github doesn't let you assign issues to people who don't have push access).

[2015-10-30 15:43] #40 closed, assigned to RByers

[2015-11-02 12:26] AFBarstow opened #44 "Need tests for ontouch*, the GlobalEventHandlers"
This is a placeholder/reminder tests are needed for the 4 ontouch\* global event handlers added to v2.

Another option for tracking this spec's testing issues/bugs/holes would be to create issues within [the test suite repo](https://github.com/w3c/web-platform-tests/tree/master/touch-events). If doing this is preferred, please let me know and I'll close issue and create a new issue in the test rep

[2015-11-02 20:28] RByers commented on #44
Yeah, good point, thanks.  /cc @choniong
Tracking test issues here makes sense to me (like #27).

[2015-11-02 22:13] RByers commented on #29
/cc @choniong

[2015-11-03 18:08] RByers commented on #27
Note (for public-touchevents) that a pull request is under review [here](https://github.com/w3c/web-platform-tests/pull/2299).  I'm not entirely sure of the process here, so please weigh in if you have advice.

[2015-11-03 21:33] chong-z commented on #31
Found the same issue here https://github.com/w3c/respec/issues/295 but closed due to deprecating and won't fix.

So what do we do, leave it, try a pull request or rewrite using new `<pre class="idl">` syntax (might take some time)?

[2015-11-03 21:39] RByers commented on #31
@choniong Thanks!

The only right fix is to rewrite as `<pre class="idl">`.  This isn't urgent (only slightly ugly) so I say we just leave this issue open until someone feels like rewriting to the new format.

Sound good?

[2015-11-03 22:18] chong-z commented on #44
I'm not so sure what kind of tests should I add? It seems that touch functional tests are already done in [the test suit repo](https://github.com/w3c/web-platform-tests/tree/master/touch-events) and interface tests are done in [global-interface-listing](https://code.google.com/p/chromium/codesearch#chromium/src/third_party/WebKit/LayoutTests/webexposed/global-interface-listing-expected.txt&sq=pack

[2015-11-04 01:42] RByers commented on #44
I don't think there's anything in the web-platform-test repo that specifically looks at or uses the `ontouch*` attributes.  I'd suggest the following:
- make a small update to single-touch-manual.html to try using a couple of these attributes
  - note that we intentionally minimize the number of manual test cases (to make running the tests as easy as possible), so don't add a new test case, just p

[2015-11-04 08:57] dontcallmedom commented on #31
FWIW, https://github.com/w3c/respec/issues/295 is now fixed in respec (will be part of the next release, hopefully soon)

[2015-11-04 12:01] AFBarstow commented on #27
@RByers you mean how to get a w-p-t PR reviewed (and merged)?

The <em>formal-ish</em> documentation appears to be in [w-p-t's review-process](http://testthewebforward.org/docs/review-process.html) document.

In practice, it can help to ask for a review (especially if the commit is relatively small) in W3C's #testing IRC channel.

(I think only a few people can merge w-p-t PRs.)

[2015-11-04 16:17] RByers commented on #27
@AFBarstow thanks!

[2015-11-04 17:14] chong-z commented on #27
Thanks! I will land the blink code first so we can test it on Chrome build

[2015-11-04 19:02] chong-z opened #45 "Import and replace Touch&TouchEvent constructor tests from w3c"
This is a placeholder/reminder for https://github.com/w3c/touch-events/issues/27.

Touch&TouchEvent constructor tests was temporarily added to blink (https://codereview.chromium.org/1415673004/) and also submitted to w3c (https://github.com/w3c/web-platform-tests/pull/2299).

Need to remove blink tests and import from w3c after it's approved.

[2015-11-04 20:25] chong-z commented on #31
@dontcallmedom Cool, thank you so much!

[2015-11-06 21:18] chong-z commented on #45
Moved to http://crbug.com/552530

[2015-11-06 21:18] #45 closed, assigned to nobody

[2015-11-22 11:27] Ms2ger opened #46 "Remove tests from this repository in favour of wpt."
Also move the existing issues.

[2015-11-22 13:16] AFBarstow commented on #46
Yes, w-p-t/touch-events is definitely where all test work should be done.

Without actually running a diff, I suspect all the tests in https://github.com/w3c/web-platform-tests/tree/master/touch-events are the only tests that should be used and maintained and that most (if not all of) https://github.com/w3c/touch-events/tree/gh-pages/tests can be deleted.

[2015-11-24 17:37] AFBarstow commented on #46
@Ms2ger I did some investigating and I think all of https://github.com/w3c/touch-events/tree/gh-pages/tests  can be deleted. That directory was included in GH when the spec was moved from (Hg https://dvcs.w3.org/hg/webevents/file/bca491d2ba3f/test) but there haven't been any changes to it and https://github.com/w3c/web-platform-tests/tree/master/touch-events should be the one and only repo for Tou

[2015-11-24 18:46] RByers commented on #46
Yes the copy here should be removed, thanks!  Sorry I didn't notice this.

I'm less sure about the issues though.  If they're moved, then we can't assign them to people like myself who don't have WPT push access (a known github limitation) and I for one will loose track of work I intend to have someone on my team do.  Maybe that's fine - I'll just rely on redundant bugs / comments in the chromium

[2015-11-24 19:42] AFBarstow commented on #46
@Ms2ger I deleted the tests directory. I think @RByers has a good point re these two issues and they provide a good tracking mechanism for the Touch Events CG. Does Github support an issue being assigned to more than one repo? If not, perhaps we can leave #27 and #44 as is and I'll create two new issues in the w-p-t/touch-events repo that includes links back to these two issues. WDYT?

[2015-11-25 07:56] Ms2ger commented on #46
As long as the issues are in wpt and linked both ways, I don't feel strongly about closing the issues here. Thanks!

[2015-11-25 11:32] AFBarstow commented on #46
@choniong already added #27 to w-p-t https://github.com/w3c/web-platform-tests/pull/2299 and I just added #44 https://github.com/w3c/web-platform-tests/issues/2375 so closing this.

[2015-11-25 11:32] #46 closed, assigned to nobody

[2015-11-25 11:33] AFBarstow commented on #46
@Ms2ger when you get a chance, please label https://github.com/w3c/web-platform-tests/issues/2375 with touch-events (it appears I can't do that)

[2015-12-01 18:58] RByers opened #48 "Deprecate createTouch and createTouchList?"
It seems there's general agreement among the vendors that constructors (#10) are the right way to create all types of DOM events.  Given that, we should consider explicitly deprecating createTouch and createTouchList.  We could do this similarly to how [UI Events has a legacy event initializers section](https://w3c.github.io/uievents/#legacy-event-initializers).

This also would give us a better p

[2015-12-03 23:00] RByers opened #50 "New ReSpec warning about inittouchevent"
Just noticed this warning (click the "1" at the top right):
`Found linkless <a> element with text 'inittouchevent' but no matching <dfn>.`

Presumably this came from 50f51ccacb0d5ad06f9cf6ed44f853d6a3616d10.  @choniong can you please take a look?  Perhaps ReSpec expects at least a tiny description for the API?

[2015-12-04 12:29] AFBarstow commented on #48
Including the two Document.touch*() methods in a legacy appendix seems like the right thing to do (at  least for now ... and until their usage is close to zero if not zero).

[2015-12-04 16:38] chong-z commented on #50
Actually this issue can be tracked back to [Add a non-normative note about initTouchEvent - Apr 4, 2013](https://github.com/w3c/touch-events/commit/547b618#diff-4eabe02dca3a07b7f5b12418b1401717R690), where `initTouchEvent` was surround by `<a>` but the link was not defined....

ReSpec warning: `20. Found linkless <a> element with text 'inittouchevent' but no matching <dfn>.`

I think I can fix it

[2015-12-07 20:53] chong-z commented on #48
We have constructor for [Touch](https://w3c.github.io/touch-events/#touch-interface) and [TouchEvent](https://w3c.github.io/touch-events/#touchevent-interface), but I'm not so sure do we have constructor for [TouchList](https://w3c.github.io/touch-events/#touchlist-interface) as well?

[2015-12-08 13:12] AFBarstow commented on #48
@choniong  I don't have a strong opinion on whether or not we need a constructor for TouchList. That said, I do think using constructors is "better" than adding a methods to Document.

Do we have any concrete data about D.cTL usage `in the wild`? If it isn't being used, perhaps there is compelling need to replace it with a constructor.

[2015-12-08 15:34] chong-z commented on #48
@AFBarstow Sorry for the confusion, but actually I just want to check what developers should use after D.cTL was depreciated, is it ok that we depreciated something but there is no substitute? (given that we don't have constructor)

The use count for D.cTL is not tracked in Chromium so I don't have the information.

[2015-12-09 07:28] chong-z commented on #48
Oh never mind, with `TouchEvent constructor` we actually don't need to create `TouchList` anymore...

[2015-12-10 21:14] RByers commented on #48
Right, sorry for the confusion.  We discussed this a bit when we added the constructor - the 'sequence' API lets us just pass an array...

[2015-12-10 21:29] #50 closed, assigned to RByers

[2015-12-10 21:32] RByers commented on #29
After doing more research, it seems that MOST of the uses of `initTouchEvent` [we see in httparchive](https://drive.google.com/open?id=1Ve_Fgq-C625O7tmqinRShvSAZ8jkyrL-sV-rZWP3yyk) actually wouldn't work on Safari or Chrome (because Safari requires all 18 arguments to be supplied (despite their documentation saying otherwise) - perhaps a breaking change at some point that nobody noticed).  We're n

[2015-12-11 21:58] #48 closed, assigned to RByers

[2015-12-20 21:21] patrickhlauke opened #53 "rotationAngle range of 0-90 seems counterintuitive - add a diagram?"
Maybe it's my own failing, but for the longest time I kept thinking that rotationAngle must be 0-180 degrees, rather than 0-90. Intuitively, it seems that if i place a thumb on a screen pointing to 9 o'clock, and rotate it clockwise to 3 o'clock, it should go from 0-180 (for the rest of the full rotation, from 3 to 9 o'clock clockwise, i can sort of understand how the shape of the ellipse is effec

[2015-12-21 18:16] RByers commented on #53
Sure, more clarity is always good.  It's a pretty niche scenario though (with little device support) so not a great use of our time IMHO.  /cc @mustaqahmed

[2015-12-22 21:04] smaug---- opened #54 "TouchEvent constructor is very unusual since it converts one type of object (sequence) to another type (TouchList)"
I'm not aware of other events having such ctors.
Maybe this was already discussed in some other bug, but don't recall now.
Anyhow the inconsistency is a bit annoying.
And more importantly it isn't defined how one creates a TouchList from sequence<Touch>.

This is perhaps mostly editorial (tough I'm not happy with the inconsistency).

[2015-12-22 21:51] RByers commented on #54
Yeah I agree this is a little weird.  `TouchList` itself seems like legacy, but presumably we can't change the type of the existing `TouchEvent` properties.  I called this out as something to discuss [in the PR](https://github.com/w3c/touch-events/pull/16#issuecomment-119785062) and on the list, but there were no concerns raised at the time.

Would you prefer if callers had to explicitly create `T

[2015-12-22 21:52] RByers commented on #54
Or do you think we should just add prose defining how `TouchLists`s are created from `sequence<Touch>`?

[2015-12-22 22:01] smaug---- commented on #54
I think I could live with adding just prose defining how TouchLists are created.
Tough the API would look more consistent if TouchList had the ctor and then one would pass those to event ctor. But if you think removing support for sequence<Touch> in EventDict is too late, I guess we just have to go with the next simplest approach, which is to support only sequence<Touch> and describe in prose how

[2015-12-22 22:22] RByers commented on #54
I wouldn't want to say it's necessarily too late to remove `sequence<Touch>` from `TouchEventInitDict`.  We could certainly try (eg. support both, flip our guidance, measure usage of the current approach and remove once usage is low enough).  My guess is that this is new enough that we could probably pull it off, but we'd need good justification for doing so.

To me, from a web dev perspective tha

[2015-12-22 22:26] RByers commented on #54
Hmm, [`ServiceWorkerMessageEvent`](https://slightlyoff.github.io/ServiceWorker/spec/service_worker/#serviceworkermessage-event-interface) is another interesting example.  It takes a `sequence` on input and uses an array type on output.  Presumably there's some story about [WebIDL array types](http://www.w3.org/TR/WebIDL/#idl-array) being replaced by [`FrozenArray<T>`](https://heycam.github.io/webi

[2015-12-22 22:37] RByers commented on #29
We've decided not to do this after all in favor of just pushing the constructors.  Let me know if anyone disagrees - happy to discuss further.

[2015-12-22 22:37] #29 closed, assigned to RByers

[2015-12-23 07:49] smaug---- commented on #54
As I said on IRC, I consider about everything in ServiceWorker to be pretty much anti-pattern for the web.

[2015-12-23 17:24] RByers opened #56 "Determine how best to make the tests mobile-friendly"
All web platform tests should be easy to use from a phone, ESPECIALLY the touch tests.  We should probably talk with WPT folks about the right guidelines for W3C tests generally.  See context with @ms2ger [here](https://reviewable.io/reviews/w3c/web-platform-tests/2299#-K6EZUKjnb_nZRZMbhyg).

[2015-12-23 17:28] RByers opened #57 "Clean up tests for @ms2ger feedback"
Apply the [feedback](https://reviewable.io/reviews/w3c/web-platform-tests/2299#-K6EZ4KzZiVDXXyvfZ_F) on the new constructor tests to all the other existing tests.

[2015-12-29 13:58] smaug---- opened #58 "createTouch has all the params as required, should probably have them optional"
https://github.com/w3c/web-platform-tests/blob/master/touch-events/create-touch-touchlist.html#L124 should per spec throw, since not enough params are passed to the method. But instead that test assumes different behavior and it also assumes clientX/Y somehow magically get their values from other coordinates.

[2016-01-04 22:08] RByers commented on #58
Both the test and the spec use 7 arguments, so I'm not seeing the issue there.

But still they should perhaps be optional.  They're certainly optional in blink, but I haven't tested other engines.  @choniong WDYT?

Also the "magic" clientX/Y behavior is how this API has always worked on at least Safari and Chrome AFAIK.  There is some precedent for this sort of thing (eg. MouseEvent.pageX/pageY),

[2016-01-04 22:10] RByers commented on #58
Concretely, if Safari, Firefox and Edge already treat all params as optional, we should just update the spec  to match reality (and perhaps add a test - though being deprecated I'm not sure it's worthwhile).

[2016-01-04 22:16] smaug---- commented on #58
oh, I was looking at Gecko's createTouch which has more param. So ok, the test is fine per current spec (except that is assumes some magical undefined pageX/Y -> clientX/Y conversion)

[2016-01-05 15:19] RByers commented on #58
The spec assumes this magical conversion as well (or at least fails to define how one can initialize clientX/Y using this API).  But I agree the spec doesn't quite fully define what should happen here (though it's somewhat implicit from the definitions of clientX/clientY and pageX/pageY).

My feeling is that since these APIs are now deprecated, it's not worth trying to fix anything here (we should

[2016-01-05 15:33] chong-z commented on #58
From my tests https://output.jsbin.com/xeviri
1. Safari requires at least 7 arguments for `createTouch` while Firefox and Chrome don't
2. Safari and Chrome has the magical conversion for `clientX/clientY` and `pageX/pageY` while Firefox doesn't (will just init `clientX/clientY` to `0`)

Since the behavior is so different I guess it's not worth trying to fix it?

PS: It also means Firefox won't pas

[2016-01-05 15:37] RByers commented on #58
Thanks Chong.  Since Safari requires these 7, I don't think we should change the spec to mark them `optional`.  I'd be fine with trying to change blink to make them required (assuming no non-trivial web compat impact), but I'm not sure it's worth the effort since we hope to remove these APIs entirely at some point.

[2016-01-08 16:17] mustaqahmed commented on #53
If the angle interval was [0,180) instead of [0,90), every ellipse
  (radiusX, radiusY, rotationAngle) = (a, b, theta),
where a!=b and 0<=theta<90, would have another valid representation:
  (b, a, theta+90).
Then any use-case that needs unique representations would have to compute a canonical one.

We shouldn't add a diagram for the what-if-180-degree case for sure. I think we can simply add the

[2016-01-08 16:34] patrickhlauke commented on #53
not sure that "represented by a unique tuple" means anything to mere mortals though, without further explanation. in particular, things like the "flipping" of what radiusX and radiusY when you cross over the 12 o'clock mark for instance (and, although i've not tested, presumably the 3, 6 and 9 o'clock mark as well)...

or, we simply keep it cryptic for now in the assumption that not many devices w

[2016-02-20 22:04] RByers commented on #31
Given that issue has been fixed, there's little concrete benefit to rewriting the IDL so let's call this closed (but re-open if other reasons come up to re-write the IDL).

[2016-02-20 22:04] #31 closed, assigned to nobody

[2016-02-24 23:12] #6 closed

[2016-03-06 15:24] patrickhlauke opened #60 "explicitly define what happens with Touch Events during scrolling, pinch-zoom, etc?"
Perhaps just as an informative (non-normative) box-out, but: unless I'm missing it, the spec currently does not explicitly say whether or not `touchmove` is supposed to keep firing during scrolling, and whether or not `touchend` (and the compatibility mouse events + `click`) should fire once scrolling finishes.

This has historically been a grey area - for instance, Chrome used to fire `touchcance

[2016-03-06 15:26] patrickhlauke commented on #60
There is an "in passing" reference under "5.6 Cancelability of touch events"

but wondering if it could do with more direct explanation.

[2016-03-06 21:48] patrickhlauke commented on #60
actually, not just scrolling...pinch-to-zoom, any other gestures

[2016-03-08 23:11] chong-z commented on #44
Fixed in https://github.com/w3c/web-platform-tests/pull/2393

[2016-03-08 23:14] chong-z commented on #27
Fixed in https://github.com/w3c/web-platform-tests/pull/2299

[2016-03-08 23:26] RByers commented on #27
Thank you!

[2016-03-08 23:26] #27 closed, assigned to RByers

[2016-03-08 23:27] RByers commented on #44
Thanks!

[2016-03-08 23:27] #44 closed, assigned to RByers

[2016-03-15 14:57] patrickhlauke commented on #2
Although there are still a few inconsistencies, overall the markup doesn't look as horrendous as i remember it. Is this still an issue, or can it be closed?

[2016-03-15 15:01] patrickhlauke commented on #13
Just doing a gentle ping here...still think it's worth a general note about the order of the individual touches in the touches/targetTouches/changedTouches arrays/collections/whatever-they're-actually-called being potentially arbitrary, and that scripts should not rely on the order but on the `identifier` when tracking specific touches in a multi-touch interaction. Happy to draft something up, if

[2016-03-15 15:04] #2 closed

[2016-04-03 00:29] tremby opened #62 "Why don't Touch objects have offsetX and offsetY properties like MouseEvent does?"
The [W3C CSSOM View Module draft defines](https://drafts.csswg.org/cssom-view/#dom-mouseevent-offsetx) `offsetX` and `offsetY` properties on the `MouseEvent` interface.

These seem very useful to me, and I want to be able to get the same value during touch events. When transforms are involved, calculating the equivalent position is very difficult (see [my related Stack Overflow question](http://st

[2016-04-03 04:35] cynthia commented on #62
Adding this to the spec isn't hard, getting all the browsers to adapt is the hard part (namely, one particular browser is a bit reluctant) and that is most likely why it is not in the spec. Ideally the way forward would be to move towards Pointer Events, but progress takes time.

[2016-04-03 04:42] tremby commented on #62
Maybe there's something important I'm missing here about the process, but isn't that attitude causing a bit of a catch-22? If it's not added to the recommendation or specification, what incentive to the browsers have to implement it?

It seems to me the first step would be to just go ahead and add it, unless there's a solid reason why not. "Browsers are reluctant to adapt" doesn't seem surprising

[2016-04-03 06:36] patrickhlauke commented on #62
The elephant in the room is Apple. They are not involved in this group (and there was some history of them trying to oppose the Touch Events Level 1 spec on IPR reasons), and even if all other parties involved agree that it's a good decision to add `offsetX` and `offsetY` and all other niceties from traditional mouse events, the likelihood of Apple adding anything from here to the behavior of Safa

[2016-04-03 06:38] patrickhlauke commented on #62
In short, my take on the activity of this group is to (as with the Touch Events Level 1 spec) document existing behavior and to provide at least some sane, dev-friendly explanation of current behavior.

[2016-04-03 06:46] patrickhlauke commented on #62
(and apologies for cutting through the veiled references and calling a spade a spade wrt Apple ... but that's the advantage of me not being affiliated with a competitor company, so don't have to fear my legal department throwing a hissy fit)

[2016-04-03 07:21] cynthia commented on #62
Solid reason to not add it would be to do that work in Pointer Events and leave TE as is for now - doing work in both specifications is double work for the implementors and editors, and it's not preferable. The extensions will most likely not get implemented (on Safari, as @patrickhlauke noted above) and will cause a fair bit of confusion.

It's complicated and messed up, but there is no good way

[2016-04-03 07:28] tremby commented on #62
I don't know anything about Pointer Events -- hopefully they end up having such useful things as `offsetX` and `offsetY`. It appears from [the MDN page](https://developer.mozilla.org/en-US/docs/Web/API/PointerEvent) that it inherits properties from `MouseEvent`, so that would suggest that those properties do exist here -- great.

Why would a specification point out which browsers don't implement t

[2016-04-03 07:32] cynthia commented on #62
Yes. Touch Events in particular is not a very well designed event model in many ways. The spec is a documentation of existing behavior. There are multiple technically sane solutions to fix all of these issues and more, it's just that there are political complications which obstruct the WG/CG from doing so.

[2016-04-03 07:34] tremby commented on #62
Okay. Thanks very much.

[2016-04-03 07:34] #62 closed, assigned to nobody

[2016-04-03 07:39] patrickhlauke commented on #62
Correct. Pointer Events extend Mouse Events, so they get all the things that are in Mouse Events. https://w3c.github.io/pointerevents/ (or, if you're brave, see http://patrickhlauke.github.io/getting-touchy-presentation/#262)

[2016-04-03 12:24] RByers commented on #62
FWIW, I disagree with the reasoning (though not necessarily the conclusion) here.  Apple doesn't participate in this group, but they do care about interoperability on this API.  All vendors implement features they feel are most valuable given the cost.  So, for example, when the iPhone got force touch, Apple implemented the `force` property as we specified (rather than add a new API that matched t

[2016-04-03 16:51] patrickhlauke commented on #62
fair enough, i was probably being a bit facetious wrt Apple. but yes, the danger of merrily specifying something here but actual implementors not implementing it (because of potential interop costs, and the usual first mover (dis)advantage) is all too real.

[2016-04-04 09:50] tremby commented on #62
Well, in case it gives a bit more background about why I really want this particular feature:

I have a matrix3d-transformed element depicting the screen of a handheld device, with perspective. I want some interaction on that. I want the user to be able to click/tap/swipe the screen and for it to react as you'd expect. In order to determine where on the display the user has pointed, I need to get

[2016-04-05 13:33] patrickhlauke commented on #13
Did some very rough and ready testing with this http://patrickhlauke.github.io/touch/tracker/multi-touch-tracker-index.html (which only uses touch events and visually shows each touch in `targetTouches`, complete with its "index" and the unique `identifier`) and current behavior seems to vary already across implementations.

While during a touch interaction (once all touches have been placed on th

[2016-04-05 13:39] patrickhlauke commented on #13
(just edited the previous comment, as further testing reveals there's some reason behind the strange behavior of Chrome and Firefox on Android - it's not that a new touch is added to index 0, but rather it seems that if a touch is removed and then a new touch is added, this new touch is given the index of the previously removed one...like it has some sort of "memory")

[2016-04-05 13:45] patrickhlauke commented on #13
having said that, if we see that there are scripts in the wild which rely on the (fairly rock solid, from my testing) Safari/iOS behavior (order always preserved during gesture, order preserved when a touch is removed, new touches always added at the end), then perhaps we could document that "generally" that's the behavior, but that authors should nonetheless not rely on it? or can we even mandate

[2016-04-05 17:16] RByers commented on #13
Thanks for doing the research Patrick, that's excellent!

Given that Safari and Edge seem consistent on a behavior that is generally useful to developers, I'd lean towards just specifying it that way (developers WILL depend on it, regardless of what the spec says) and fix Chrome to match.  +NavidZ WDYT?

[2016-04-10 20:21] RByers commented on #62
Thanks for the description, I agree this is an important scenario.  I think getting browsers to ship [GeometryUtils](https://hacks.mozilla.org/2014/04/coordinate-conversion-made-easy/) will be easier (and more powerful) than getting them to ship an extension to TouchEvents.

[2016-04-10 23:15] tremby commented on #62
That looks perfect.

[2016-04-12 19:17] patrickhlauke commented on #60
any comments/thoughts on this? @rbyers ? others?

[2016-04-14 23:43] RByers commented on #60
Edge still sends `touchcancel` on scroll last I checked, but I think they said they planned to change that.  @teddink?  If Edge is OK with it, I'd be happy to see the spec describe this (though details like throttling likely differ).

Separately I'd be happy to see something describe that compatibility mouse events / click are sent only on a tap gesture.  But MS lawyer-cats may have concerns over

[2016-04-16 10:25] patrickhlauke opened #63 "Expand mouse events/click note to specify these are usually only fired for tap"
Currently the second note in http://w3c.github.io/touch-events/#mouse-events reads

As per https://github.com/w3c/touch-events/issues/60#issuecomment-210205658 it would be good if in this (non-normative/informative) note there was a further mention that UAs typicially only dispatch these for tap/activation gestures (i.e. you don't get `mousemove` that track the movement of the single active touch

[2016-04-16 10:27] patrickhlauke commented on #60
split this out into #63

[2016-04-16 10:29] patrickhlauke commented on #60
haven't got my Lumia with Win 10 Mobile with me, but last time I checked, Edge behaved the same as Chrome etc - see http://patrickhlauke.github.io/getting-touchy-presentation/#365

[2016-04-16 10:39] patrickhlauke commented on #60
...but testing this on my Surface 3, explicitly enabling Touch Events in `about:flags`, confirms for me that Edge/Win10 behaves as it should: although on the pointer events side it fires `pointercancel` as soon as a scroll or zoom starts, it does keep firing `touchmove`, and `touchend` once the finger/s is/are lifted (using https://patrickhlauke.github.io/touch/gesture-touch/ to test)

[2016-04-16 22:59] patrickhlauke commented on #13
For completeness of test results: just tried Vivaldi Browser 1.0 on Surface 3/Windows 10:
- order is not always preserved when a touch is removed (the index can flip/flop temporarily, until it settles); new touches are always added at the end of the TouchList object.

[2016-04-18 12:58] zcorpan opened #64 "Specify what browsers do on non-touch devices"
See https://github.com/whatwg/dom/issues/227#issuecomment-211365756

It appears that all browsers essentially disable support for touch events on non-touch devices. I suggest the spec should reflect this reality and say what the expected behavior should be in that setup.

[2016-04-18 16:00] patrickhlauke commented on #64
This behavior is more of a workaround to circumvent badly coded sites that make the naive "if touch events, it must be a mobile/touch-only device, so we only bind to touch events and not to mouse or click" approach that seems to be so pervasive.

In fact, some desktop browsers on laptops/computers with touchscreen don't expose touch events at all in some cases, as too many sites then also assume t

[2016-04-18 18:28] zcorpan commented on #64
I think having the spec pretending that the problem doesn't exist doesn't help at all in moving towards a solution for it. I would love to live in a world where all browsers supported touch events and no Web site makes assumptions around the size of the screen depending on the presence of touch events, but that's not the world we're living in today. Not specifying this and hoping it will go away i

[2016-04-18 18:32] patrickhlauke commented on #64
Sure, i'm guessing it's the difference between adding a non-normative note in the spec (i.e. "current browsers do this"), vs having the spec mandate this behavior as part of the normative spec text itself (i.e. "browsers HAVE to do it this way").

[2016-04-18 18:55] scottgonzalez commented on #64
What do browsers do with other events that are conditional on hardware? For example, `deviceproximity` from [Proximity](https://w3c.github.io/proximity/) or `levelchange` from [Battery Status](https://www.w3.org/TR/battery-status/) which the user agent may know about but the hardware doesn't support?

[2016-04-18 19:10] patrickhlauke commented on #64
For proximity, the spec says

Testing this in Firefox on my Surface 3 (which, as far as I know, doesn't have the relevant sensor) using https://www.audero.it/demo/proximity-api-demo.html the API is indeed exposed, but returns no meaningful data when queried.

[2016-04-18 19:12] patrickhlauke commented on #64
Touch Events may be "special" in that they've historically been abused by developers as a shorthand for "it's a mobile device" (same way that small screen sizes are often abused in media queries as a similar shorthand).

[2016-04-19 02:13] RByers commented on #64
Yeah touch events are very strange in this regard because historically the API was available only on mobile browsers and so mere feature detection served as a proxy for detecting mobile devices.  Given that we're not likely to be able to fix this anytime soon, I support adding something to spec (normative or otherwise, not sure it matters).

[2016-04-19 06:30] zcorpan commented on #64
If it's normative and non-ambiguous then it's testable  (e.g. can test that the entire feature set is disabled in the right way) and new implementations (e.g. servo) don't need to reverse engineer other browsers to get web compat.

Disabling support for something can be done in several ways, and if the feature interacts with other features then it becomes unclear what should happen if the spec onl

[2016-04-20 21:32] RByers commented on #60
Great!  I remember Jacob saying they planned to change this, glad to hear they now match.  We just realized our only Windows Phone doesn't support Edge (Win 8.1), so are waiting for a new one to arrive :-)

[2016-04-20 21:36] RByers commented on #63
I see we're already using the non-normative text "The activation of an element (e.g., in some implementations, a tap)", so doing that elsewhere should be fine.  In PE we explicitly refer to "double tap gestures" in a note but add "Note that the methods for determining a tap or double-tap gesture are out of scope for this specification".

As long as we're just talking about a note here, I think we

[2016-06-01 20:16] #63 closed, assigned to patrickhlauke

[2016-06-20 03:41] hayatoito opened #66 "Support Event.composed in Touch Events"
The context: w3c/webcomponents#513

Could someone give me advice how we should update Touch Events specification so it considers Event.composed?

Is a Pull Request a recommended way to reflect the conclusion at w3c/webcomponents#513
?

[2016-06-20 04:08] cynthia commented on #66
I'm no longer a member of the group (lost affiliation), but historically a PR has been enough to get the ball rolling.

[2016-06-20 12:54] patrickhlauke commented on #66
Yes, a PR (with a bit of explanation in the description) would be great, thanks.

[2016-06-21 03:47] hayatoito commented on #66
Thanks. I have sent a PR: https://github.com/w3c/touch-events/pull/67

[2016-06-27 19:59] RByers opened #68 "Define interactions with `contextmenu` event?"
Now that the spec is [relatively explicit about the mouse events to expect on a tap](https://w3c.github.io/touch-events/#mouse-events), perhaps we should also say something about `contextmenu`?

In particular, Mobile Safari and [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1256339) don't generate any `mouse*` events prior to a touch-derived `contextmenu` but Chrome does.  IIRC we did this

[2016-06-27 20:03] staktrace commented on #68
I concur that we should not be firing synthentic mouse events for touch-derived `contextmenu` events, unless there's a webcompat reason to do it.

[2016-06-27 20:16] patrickhlauke commented on #68
I agree that for `contextmenu` no further compat events should be fired. Should the whole touch in fact be cancelled? (related, see what I consider a bug in iOS https://www.youtube.com/watch?v=oggIAZ9uHug relating to the native context menu)

[2016-06-28 18:35] staktrace commented on #68
I'm assuming that by "whole touch be cancelled" you mean sending the `touchcancel` event to content. Chrome doesn't appear to be doing that, although Firefox does on Android. In fact Firefox does it on Android even if we get a browser context menu showing up (as opposed to just if web content does `preventDefault()` on the `contextmenu` event). On Windows the browser context menu only shows up on

[2016-06-28 18:42] staktrace commented on #68
Sorry, I was wrong. Chrome on Android does actually send the `touchcancel` to content, if the browser context menu shows up, but not if web content does `preventDefault()` on the `contextmenu`.

[2016-06-29 18:06] #66 closed, assigned to nobody

[2016-07-12 22:30] patrickhlauke commented on #64
Sorry, revisiting this quite a few months later...I'm still leaning more towards a non-normative note, clearly explaining what current browsers do (not expose the API on non-touchscreen devices) and why (for compatibility reasons / to stop sites from breaking). Browsers are free not to follow this behavior from the non-normative note, but then it's up to them to worry about site compat.

[2016-07-13 15:14] RByers opened #70 "Add interaction with pointer events and compat mouse events"
see w3c/pointerevents#7

[2016-07-13 15:20] RByers commented on #70
@navidz is going to put up a PR for this.

[2016-07-26 23:20] RByers commented on #70
In particular: should cancelling a pointerdown suppress touch event generation?  Both Chrome and Edge used to do that but currently neither do (for better site compat).

[2016-07-31 21:57] patrickhlauke opened #71 "Add informative note about not doing naive "touch OR mouse etc" event handling"
As this anti-pattern is still fairly common, it would be good to have an informative note/boxout warning developers not to fall into naive assumption that once touch events are present, they can stop listening for mouse/keyboard events.

[2016-08-01 15:14] RByers commented on #71
+1

[2016-08-02 22:21] #71 closed, assigned to patrickhlauke

[2016-09-18 21:02] foolip commented on #58
Safari on iOS has 7 required arguments, but the first two can be null, i.e. `document.createTouch(null, null, 0, 0, 0, 0, 0)` works and creates a `Touch` instance with `target` null. Chrome for Android does the same thing, although omitting the arguments also works of course.

[2016-09-23 12:21] smaug---- opened #74 "Consider defaulting to use passive listener on window/document/document.body"
This would need some hooks into DOM spec.
Perhaps https://dom.spec.whatwg.org/#dom-eventtarget-addeventlistener step 4 could for example get the default tuple {eventType, isPassive} from the context object and use that in case passive wasn't passed in the options.

@RByers

[2016-09-23 12:29] smaug---- commented on #74
This would of course break event delegation pretty badly.

[2016-09-26 18:12] RByers commented on #74
Thanks for filing this.  Chrome is experimenting with this as an "intervention" as discussed [here](https://github.com/WICG/interventions/issues/18), and it's looking like it's probably not that breaking in practice.  Once we have hard data on the web compat impact (i.e. by shipping one of our ideas by default in Chrome) we'll circle back here to discuss possible spec changes.

[2016-10-17 19:30] RByers commented on #74
We should also consider whether we can plan long-term to make ALL touch listeners passive by default.  It's really weird / ugly to treat listeners on "root" elements specially, though it does seem like the right pragmatic compat/perf tradeoff at the moment.

[2016-11-30 18:43] LanWei22 opened #76 "Adding the fling intervention behavior to TouchEvent's spec"
Under '5.4 Cancelability of touch events', I want to add a new paragraph.

'While there is an active fling animation, all the touch events generated from a user agent on the active flinging layer may be uncancelable.'

Please free feel to comment on this.

Below is the link to the intent-to-ship draft,
https://docs.google.com/document/d/16D5Hle3-zG_kXjXJbQALD2OWOLmsMkGz1r1BthE2V7Q/edit

Thank you!

[2016-11-30 18:58] LanWei22 commented on #76
@RByers, @dtapuska,

[2016-11-30 19:29] RByers opened #77 "Add defacto"
Since web-platform-tests accepts "defacto" tests, perhaps we could compensate for the "hand-wavy" nature of the [cancelability definition](https://w3c.github.io/touch-events/#cancelability) by adding a few related test cases which we expect will pass in at least 2 browsers?  Eg verify:
1. `touchmove`s are uncancelable after a scroll has started
2. On repeated fling, the first `touchstart` is cance

[2016-11-30 19:30] RByers commented on #76
I think the spirit of that change is reasonable.  Basically if you touch on something that's currently scrolling due to momentum from a previous touch, you shouldn't have any more expectation that you can interrupt the scrolling than for the case of during a scroll.  The spec already allows this but doesn't describe the specific cases in detail.  Edge has this property already and I believe @stakt

[2016-12-08 16:51] Henne2806 opened #78 "Initialize touchList in Chrome"
Is there a chance to initialize a touchList in Chrome?
`new TouchList()` doen't work. I've got an error: Illegal Constructor.
`document.createTouchList()` is also not working. There i've got an Uncaught ReferenceError...

I am using Chrome v.54

[2016-12-10 07:04] cynthia commented on #78
Is this limited to Chrome? In that case the report might be better suited for https://bugs.chromium.org/hosting/ .

[2016-12-13 21:51] patrickhlauke commented on #64
Bumping once more in light of Firefox's current decision to enable TE on non-touch devices (see https://twitter.com/FxSiteCompat/status/808779763804471296 and https://www.fxsitecompat.com/en-CA/docs/2016/touch-event-support-has-been-re-enabled-on-windows-desktop/). @rbyers is it worth drafting out both an informative note ("traditionally browsers only exposed TE on actual touch devices") as well a

[2016-12-13 23:52] staktrace commented on #64
Not sure if I'm misinterpreting what you're saying, but Firefox is enabling TE only on devices that support touch. That is, TE will disabled on OS X, and enabled on Windows/Linux if and only if the hardware supports it. (It can also be enabled via the Firefox devtools, but that's a special case.) In the cases that the hardware doesn't support touch, we won't expose the API at all (i.e. window.Touc

[2016-12-13 23:54] staktrace commented on #64
Also for the record, we've run into a couple of cases where websites assume touch support == mobile (and therefore don't register mouse listeners when they need to) but so far the incidence of this is low enough that we aren't too concerned. Our evangelism team is reaching out to sites on a case-by-case basis and encouraging them to fix their sites so they don't assume touch == mobile.

[2016-12-14 09:46] patrickhlauke commented on #64
@staktrace oh my bad, i completely misinterpreted the Firefox announcement (serves me right for skim-reading it).

[2016-12-14 17:51] teddink commented on #64
@staktrace I will be very interested to know if you run into interop issues when this is enabled on desktop OS devices with touch. Microsoft Edge (and IE, for that matter) still had touch events turned off for desktop primarily because we saw too many interop issues of that type where sites assumed touch == mobile. Hopefully the ecosystem has improved in that regard now enough that the interop iss

[2017-03-23 13:39] RByers opened #80 "Clarify "deprecated in this specification""
Our wording [here](https://w3c.github.io/touch-events/#extensions-to-the-document-interface) is vague.  We should probably say explicitly that they're included for compatibility but usage is discouraged as they are expected to be removed in the future.  In particular, I think we're pretty close to being able to remove them from Chrome - once that's been successful we'll discuss removal from the sp

[2017-03-23 19:19] patrickhlauke commented on #74
Wondering if changing the definition here in the spec would have any real-world effect, considering:

- it would be most relevant for authors who write touch handling after the change has happened and has found its way in browsers
- the hope (wish?) would be for authors in future to migrate to pointer events as the more holistic/sensible event model
- the one browser that is currently refusing to

[2017-03-23 19:22] patrickhlauke commented on #60
Clearly dropped the ball here. Will draft up some wording (general gist of "touch events keep firing even if the browser pans/zooms" or similar) soon

[2017-03-23 19:27] patrickhlauke commented on #58
in light of us wanting to potentially deprecate https://github.com/w3c/touch-events/issues/80 is this still relevant? perhaps for clarity/historical reasons?

[2017-03-23 19:27] patrickhlauke commented on #54
in light of us wanting to potentially deprecate https://github.com/w3c/touch-events/issues/80 is this still relevant? perhaps for clarity/historical reasons?

[2017-03-23 19:30] patrickhlauke commented on #41
still relevant to extend the IDL at this stage, or are we happy to leave as is and focus on pointer events instead?

[2017-03-23 19:30] patrickhlauke commented on #53
as usage / actual devices that truly support this is (to my knowledge) quite low, happy to just close this...

[2017-03-23 19:30] #53 closed, assigned to nobody

[2017-03-23 20:57] RByers commented on #41
Meh, seems pretty low priority to me, but also very low cost to just fix to do the right thing consistent with MouseEvent/PointerEvent.  If someone (eg. @dtapuska or someone on his team) wants to take a few minutes to submit a PR and expose this in some implementation, then I'd be happy to see it added to the spec.  Otherwise this could be closed as too low priority.

[2017-03-24 03:57] foolip commented on #58
Blink now has 7 required arguments as well: https://codereview.chromium.org/2747333003/

[2017-04-17 10:38] patrickhlauke commented on #13
revisiting this, as it's been bugging me...before i go off an propose a PR, here's what i plan to add. due to the fact that it does indeed seem that there's some inconsistency in existing implementations, like in Firefox, i'd propose adding these as normative statements (but i'll work on some cleaner wording, this is just to get the concepts down):

- the touches in the touchlist SHOULD be in the

[2017-04-17 15:25] scottgonzalez commented on #13
Those all sound reasonable, but I think the note that authors should rely on `identifier` is the most important piece.

[2017-04-21 11:31] patrickhlauke opened #83 "Fix ReSpec warnings (and general code cleanup)"
Need to spend some quality time re-marking up the various WebIDL sections to make ReSpec happy. May also take a stab at cleaning up some code formatting issues.

[2017-08-10 02:22] RByers commented on #74
Note that WebKit is [now planning on making this change](https://bugs.webkit.org/show_bug.cgi?id=175346).  If this lands in WebKit then I'd argue we should work to update the spec to reflect the implementation reality (IMHO preferring people use a different API isn't a good reason to allow living standards and implementations to diverge - there's a LOT of html we'd rather people not use anymore to

[2017-08-10 10:04] patrickhlauke commented on #74
agree making the spec match reality is a good thing (tm). i'll have a look over https://github.com/w3c/touch-events/pull/75 but any help appreciated (as i slowly emerge from a few months of rubbish that left me with practically no time to look at these things)

[2017-08-10 14:05] RByers commented on #74
Thanks.  But totally - if we agree we're interested in landing something like this, then the ball is in @dtapuska's court to polish the changes, respond to the feedback raised so far, etc.

[2017-09-05 07:41] annevk opened #84 ""List of TouchEvent types" contains requirements"
You state https://w3c.github.io/touch-events/#list-of-touchevent-types is a non-normative yet it contains a should requirement (which should be a must).

What probably needs to happen is that this becomes a non-normative summary table for normative dispatch requirements elsewhere, where the dispatch requirements include all the necessary details to setup the event object correctly.

Found while wo

[2017-09-05 08:14] patrickhlauke commented on #84
Naive question: could the section be made normative as is (with the change to MUST)? Or is it currently too vague for that? /cc @RByers

[2017-09-05 08:17] annevk commented on #84
It's too vague. It doesn't tell you how to determine the target or when to actually dispatch these. I suppose that you could use it in a normative way to setup the other bits of the event from the point where you dispatch it, but...

[2017-09-05 08:18] annevk opened #85 ""List of TouchEvent types" Async/Sync"
This is a weird column to have and it's not explained.

[2017-09-05 08:20] annevk opened #86 ""List of TouchEvent types" Default Action"
"Default Action" is not a thing that exists. Instead, you dispatch an event, and based on the return value of that dispatch algorithm you do or not do something.

That difference is especially noticeable when it comes to synthetic events, for which it's up to the web developer to decide what to do after dispatching.

[2017-09-05 08:26] patrickhlauke commented on #84
Ok, I'll defer to others with more tech/spec chops than me.

[2017-09-07 03:13] RByers commented on #64
I propose we mark the APIs historically used for mobile device detection as deprecated:
 - ontouch* members on window, document, Element
 - document.createTouch, document.createTouchList (already deprecated)
 - document.createEvent("TouchEvent")  (not mentioned by the spec at all today)

They should be supported only by mobile devices for legacy web compat reasons.  Sites wishing to do real cross-

[2017-09-08 08:48] patrickhlauke commented on #64
with regards to the on* members...is this in line with other things like onmouseover, onclick etc? are these also marked as legacy (in whatever spec that would be)? or would this create some kind of exception?

[2017-09-14 07:00] zcorpan commented on #64
`onclick` et al are not marked as legacy; they are defined in HTML.

https://html.spec.whatwg.org/multipage/webappapis.html#handler-onclick

It seems `ontouchstart` as a *content attribute* is not defined, and checker.html5.org gives an error for it. cc @sideshowbarker

[2017-09-15 16:19] annevk opened #87 "Add [Exposed] to all interfaces"
Needed for https://github.com/heycam/webidl/issues/365.

[2017-09-21 20:56] patrickhlauke commented on #87
assuming (naively) that touch events are only exposed on window?

[2017-09-22 08:14] annevk commented on #87
Yeah, I'd assume so.

[2017-09-22 08:46] #87 closed, assigned to nobody

[2017-09-24 17:06] sideshowbarker commented on #64
Yeah if no spec defines it as a content attribute, then it’s necessary for the checker to report it as an error.

All sounds good to me. But however it’s done, it’s important we make clear in the spec what the status is of the `ontouch*` content attributes (not just the IDL attributes). If we clearly define the content attributes as obsolete, then I can have the checker emit a specific more-helpfu

[2017-09-24 18:21] patrickhlauke commented on #64
the various `ontouchstart` etc are defined here https://w3c.github.io/touch-events/#extensions-to-the-globaleventhandlers-interface - how would one also define content attributes, rather than just IDL attributes?

and to be clear, I assume we'd still want to keep the content attributes (so that authors CAN still do `<button ontouchstart="something()">...</button>` or whatever)? or is this suggesti

[2017-09-25 06:41] sideshowbarker commented on #64
If they are attributes allowed on any HTML, element, then they would be defined by adding them to the list of attributes here:

https://html.spec.whatwg.org/multipage/dom.html#global-attributes:event-handler-content-attributes

If they’re instead allowed only on specific elements, then we would need to update the per-element sections of the HTML spec to add them; for example, see here:

https://ht

[2017-10-19 20:24] mustaqahmed commented on #64
@eirage is working to change Chrome to expose these APIs on mobile only, as Rick mentioned above.

[2017-10-23 11:48] patrickhlauke commented on #78
`document.createTouchList()` works, but only if Chrome is currently running on a touchscreen device/has touch events enabled. `new TouchList()` throws as illegal constructor there too, though.

@rbyers is there any change/clarification needed in the spec for this, do you think?

[2017-10-23 11:50] patrickhlauke commented on #21
@SummerLW just to check...has this happened yet?

[2017-10-23 11:51] patrickhlauke commented on #41
@dtapuska @rbyers are we closing this?

[2017-10-23 11:52] patrickhlauke commented on #78
possibly related to whatever we decide in https://github.com/w3c/touch-events/issues/54

[2017-10-23 12:19] patrickhlauke commented on #58
is there anything we want to add to the spec in light of this? even just as a non-normative note?

[2017-10-23 12:24] foolip commented on #58
There's still the issue that Blink has additional optional arguments, but that wasn't the initial bug here. How good is the test coverage for the corner cases here? I'm pretty sure there are differences if one passes in null for some of these arguments.

[2017-10-23 16:03] dtapuska commented on #41
@patrickhlauke patrickhlauke how is this https://github.com/w3c/touch-events/pull/91

[2017-11-11 17:47] RByers commented on #64
@staktrace what do you think of the proposal in https://github.com/w3c/touch-events/issues/64#issuecomment-327671775 as a better way to balance the compat / functionality concerns on non-mobile touchscreen devices?  If we can prove that the compat tradeoff is reasonable by [shipping this in Chrome](https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/KV6kqDJpYiE), do you think Firefox

[2017-11-13 15:50] staktrace commented on #64
@RByers Personally I'm not a huge fan of removing some of the APIs and leaving others, but I don't feel too strongly about it. It'll make the touch API even more inconsistent and we're going to have to live with that inconsistency for a long time. Do we have data on how many sites are still assuming touch == mobile, and whether that has declined over time?

That being said @smaug---- and @mingchou

[2018-01-10 17:34] smaug---- opened #92 "'Retargeting steps' expose closed Shadow DOM to the outside world"
This is similar to https://github.com/whatwg/dom/issues/525#issuecomment-340844680
None of the retargeting can happen during event propagation.
I think this is both DOM and Touch event spec bug.
'Retargeting steps' need to happen when we create the event path.

@annevk, @hayatoito
(Not sure if @rniwa can comment on this)

[2018-01-10 17:47] smaug---- commented on #92
I'm not quite sure what blink does here. I think it does retargeting before event propagation, but it creates clones of Touch objects with different target, and not just retarget them. My interpretation could be wrong.

[2018-01-11 03:59] hayatoito commented on #92
Yeah, this sounds a spec bug. Retargeting steps shouldn't happen while in event dispatching. It's too late.
We might want to fix this, as we did in https://github.com/whatwg/dom/issues/525.

[2018-01-11 10:00] smaug---- commented on #92
This should be probably fixed closer to the way relatedTarget is handled when creating the path.
The spec has of course very slow implementation of relatedTarget retargeting algorithm since it does it for every single event target, but still, I guess same could be done for Touch.target and then implementations optimize that.

[2018-01-11 16:08] annevk commented on #92
I'm happy to take PRs for faster algorithms if they do not end up being much more complicated. Clarity is still the number one concern.

It seems this issue affects UI Events too, but the algorithm there hasn't been written yet: https://github.com/w3c/uievents/issues/157?

Will you work on this @hayatoito or should I take a look? Perhaps also track this on the whatwg/dom repository to make it easi

[2018-01-12 06:46] hayatoito commented on #92
Yeah, I don't care the *performance* of algorithms described in the standard. Blink had already implemented may of themt in a different way, with an equivalent visible behavior.

I don't care who will work on this. I would be happy if @annevk or @smaug----  could work on this.
If you couldn't and this is urgent, I might work on this in a few weeks.

[2018-02-15 05:21] DSMann commented on #78
Chrome creates a TouchList from an array when passed in to a TouchEvent via the TouchEventInit dictionary for touches, changeTouches, and targetTouches.  At least it does on v63.

[2018-03-28 19:43] EiraGe opened #93 "Should spec mention “touch adjustment" behavior?"
Currently Edge, Chrome and Safari have "touch adjustment" feature to select hit targets for touch.

Edge's implementation seems adjusting the touchstart coordinates and target to a nearby target. If the touch events is interpreted as a tap gesture, the mouse events will be implicit capture to the same target.
Chrome (and Safari) only do adjustment when interprets a sequence of touch events as a ta

[2018-04-06 14:03] annevk opened #94 "Define "event constructing steps""
https://github.com/whatwg/dom/pull/614 adds "event constructing steps" to the DOM. Touch events need these to set the "touch target list" on an event when it's being constructed.

This will also require refactoring the way Touch's target attribute works.

(All this is in part required because until now this wasn't really defined and in part because otherwise touch events do not work well with shad

[2018-04-26 15:02] EiraGe commented on #93
I propose adding a note to [here](https://w3c.github.io/touch-events/#dom-touch-target):

"Some user agents may choose a target within the touching area instead of the element at touch point."

[2018-04-26 15:49] EiraGe commented on #80
Chrome marked createTouch and createTouchList as deprecated from Chrome 66 and plan to complete remove them at Chrome 68. ([here](https://groups.google.com/a/chromium.org/forum/?utm_medium=email&utm_source=footer#!msg/blink-dev/GLbUpUUnQzc/QBOQP4FiCgAJ))

Maybe it's time to remove the [`Legacy Event Initializers`](https://w3c.github.io/touch-events/#legacy-event-initializers) section. I create PR

[2018-04-26 17:33] patrickhlauke commented on #93
I'm wondering if this sort of feature isn't edging dangerously close to various IPR-related minefields (but IANAL)

[2018-04-26 23:51] jacobrossi commented on #93
Yeah, touch targeting stuff was one of the things that was intentionally called out of scope in the Pointer Events WG charter for that reason.

It seems helpful to let devs be aware that browsers do this. So a non-normative note to this effect seems reasonable (note that you want to avoid normative terms like "MAY" to be safe here). There are other places in Pointer Events where we did such things

[2018-04-27 01:10] EiraGe commented on #93
Thanks Jacob! I updated the text as your suggestion.

[2018-04-27 01:58] #93 closed, assigned to nobody

[2018-04-30 16:19] smaug---- commented on #92
Need to also figure out what happens to targetTouches, since the number of objects in that list may change while crossing shadow boundary.

[2018-04-30 22:14] smaug---- opened #97 "It is unclear how targetTouches should work with Shadow DOM"
I assume the length of the list needs to change depending on the retargeting, or a new list created if needed.

[2018-10-17 03:02] RByers commented on #80
Oh looks like there's one more reference to createTouchList in the note in section 5. I'd just suggest removing the note. Also an entry should be added to the 'changes since last publication' section at the end.

[2018-10-17 09:52] patrickhlauke commented on #80
Done :)

[2018-10-17 09:52] #80 closed, assigned to patrickhlauke

[2018-10-17 14:19] RByers commented on #80
And I see the update changes in #101 also, thank you!

[2019-08-22 09:22] Ms2ger opened #104 "Update spec to new IDL syntax for optional dictionaries"
See heycam/webidl#758

[2019-08-22 16:33] #104 closed, assigned to nobody

[2019-08-29 09:01] Ms2ger opened #106 "Update to constructor operations"
See https://github.com/heycam/webidl/issues/778.

[2020-11-19 15:01] annevk commented on #64
I ran into this again, is there a primitive defined that essentially means "mobile" that DOM could branch on for `createEvent()`?

cc @domenic

[2020-11-19 16:48] patrickhlauke commented on #64
the problem is "define what 'mobile' means" which is generally a question that belies further sweeping assumptions (small screen, no keyboard/mouse only touch, slow connection).

is it perhaps not sufficient to add a non-normative note that leaves it up to user agents whether they expose the API or not, and for authors to feature-detect rather than rely on its presence (and to have a good hard thi

[2020-11-19 16:51] annevk commented on #64
I think it's fine to have something like

and then use that concept to conditionally expose various things. And maybe clarify in a note what it means in practice. (Not sure if we want to go all the way to IDL support, but maybe...)

[2020-11-19 16:59] patrickhlauke commented on #64
that sounds to me like a weirdly bad take. just feeds into the odd "mobile / not mobile" distinction which has always been blurred anyway (is a tablet "mobile"? up to which size? is a surface when in tablet mode a "mobile"?)

especially if this is going to be something new, why not instead educate authors that no, there is no such thing as "mobile". ask yourself what you're *actually* trying to de

[2020-11-19 17:00] patrickhlauke commented on #64
if it's a genuine "does this device really have a touchscreen" question, then checking `window.navigator.maxTouchPoints>0` should do it, no?

[2020-11-19 17:03] annevk commented on #64
I mean, how would you suggest we underpin the notion that `document.createEvent("TouchEvent")` sometimes throws? That requires some kind of primitive, no? (If it's always the same as `window.navigator.maxTouchPoints` maybe that is the primitive. Is that the case?)

[2020-11-19 17:05] patrickhlauke commented on #64
is this a primitive exposed to JS authors, or are we talking something that'd be browser-internal? like essentially a "has touch screen" kind of flag?

[2020-11-19 17:08] annevk commented on #64
It's exposed through various APIs, such as the one I listed, but not directly no. Again, it's a way to address this issue...

[2020-11-19 17:09] patrickhlauke commented on #64
...which, now that i'm remembering the original point of this discussion, wouldn't help (and neither does `window.navigator.maxTouchPoints`), because then THAT would be truthful, whereas the point here was to lie to prevent the whole naive assumptions that developers had cargo-culted onto the presence of touch events in the first place.

so, *if* it's something internal, maybe be quite upfront and

[2020-11-19 17:25] annevk commented on #64
If user agents only use it for that, that seems reasonable.

[2020-11-20 18:00] patrickhlauke commented on #64
so, pardon my naiveté ... where and how would this be spec'd? in touch events? elsewhere?

[2020-11-30 07:52] annevk commented on #64
Touch events seems fine to me, but we could also put it in HTML if it affects more than touch events.

@smaug---- do you know?

[2020-12-02 22:30] smaug---- commented on #64
This sounds more like TouchEvents specific.
In Gecko the pref  which controls some of the exposed parts is called
dom.w3c_touch_events.legacy_apis.enabled
I wonder if the spec could use some the same naming, at least that 'legacy' and explain that it is supposed to be used on mobile only.

And at least in Gecko this is very unusual stuff and I think only Touch Events have anything like it.

WebIDL

[2020-12-04 08:14] patrickhlauke commented on #64
any initial suggestion/draft PR to show how this sort of thing would be specified in Touch Events spec would be welcome - happy to then tweak/refine the words, but - not being super familiar with the more technical points, and what shape they'd need to take in a spec - would apprecitate an initial skeleton of this. @smaug---- would you have the time/inclination to do this? or point me in the direc

[2021-01-07 15:35] annevk commented on #64
Something like:

[code]
And then elsewhere we could branch on that. Does that help?

[2021-02-16 04:46] Thaina opened #109 "[feature request] Standardize long press touch event"
In mobile device it was common for application to handle long press as context menu or simulated right click. We can simulate it with start and timer. But it not standard so we have to reimplement it. The threshold also actually varied between platform and could be customized from OS setting for each user's preference

For consistent experience, I would like to have standard long press event that

[2021-02-16 07:57] patrickhlauke commented on #109
I'm afraid that, certainly for Touch Events, there won't be any further features added, as all major engines have now moved towards work on https://w3c.github.io/pointerevents/

as this request is more fundamental than just pointer events - and effectively touches on gesture handling, which is outside of the scope of pointer events - I would suggest raising this issue under UI events https://githu

[2021-02-16 07:57] #109 closed

[2021-02-16 08:48] Thaina commented on #109
@patrickhlauke This was already moved from https://github.com/w3c/input-events/issues/116

Can you transfer this instead of closed it?

[2021-05-26 02:58] karlcow commented on #68
There's a dicussion currently going on for Firefox on Android similar to this issue
https://bugzilla.mozilla.org/show_bug.cgi?id=1481923

[2021-05-26 02:59] karlcow commented on #68
This [stackoverflow](https://stackoverflow.com/questions/55560929/weird-behavior-of-long-presses-in-chrome-and-firefox-for-android) tries to list the type of events being sent by different browsers.

[2021-05-26 03:19] karlcow commented on #68
Using https://codepen.io/webcompat/pen/gOmRKee
On Mobile

* Firefox Nightly 90.0a1 Build #2015812491
* Chrome Canary 92.0.4506.0
* Safari 14.1

## Firefox
* touchstart
* contextmenu (no vibration)
* touchcancel

## Chrome
* touchstart
* contextmenu (vibration)
* touchend

## Safari
* touchstart
* (text selection is showed then removed + vibration. no contextmenu event)
* touchend

[2021-05-26 07:33] patrickhlauke commented on #68
Part of the issue here is also that Apple/WebKit are not engaging with this spec (so are unlikely to change their implementation based on what is decided here), and for the most part other browsers are now focusing more on Pointer Events. So I'm not sure if there's any more momentum here other than somehow document divergence and warning that "there be dragons"

[2021-06-02 08:19] HolgerJeromin commented on #68
Just a sidenote: The issue in FF was solved.

[2021-10-22 15:27] dontcallmedom commented on #106
this got solved in https://github.com/w3c/touch-events/pull/108

[2021-10-22 15:27] #106 closed, assigned to nobody

[2021-11-22 22:10] joeedh opened #110 "8. Interaction with Mouse Events and click"
This is ridiculous:

"The user agent **may** dispatch both touch events and (for compatibility with web content not designed for touch) mouse events"

_May_?   Even worse:

"If touchstart, touchmove, or touchend are **canceled**, the user agent should not dispatch any mouse event that would be a consequential result of the prevented touch event."

Seriously?  This is like the apotheosis of undefin

[2021-11-22 22:56] patrickhlauke commented on #110
thanks for the feedback joe. you can go and blame a certain fruit company for just inventing the events and then trying to block any standardisation effort at the time. this simply documents the behaviour (weird secret heuristics and all) that they originally implemented and browsers had to attempt to copy for compat reasons.

may i suggest switching to using Pointer Events instead, which are the

[2021-11-22 22:56] #110 closed, assigned to nobody

[2022-04-08 13:53] zcorpan commented on #64
The `document.createTouch` and `document.createTouchList` APIs are not supported in browsers (anymore?).

The other two bullet points is the complete list of features in Chromium that depend on the "legacy touch events" concept (`RuntimeEnabledFeatures::TouchEventFeatureDetectionEnabled` in Chromium), as far as I can tell. The list of event handlers is: `ontouchcancel`, `ontouchend`, `ontouchmove`

[2022-04-08 14:24] zcorpan commented on #64
PRs: ​​https://github.com/w3c/touch-events/pull/111 and https://github.com/whatwg/dom/pull/1071

[2022-04-08 18:40] #64 closed, assigned to nobody

[2022-04-13 19:46] domenic commented on #74
A quick status update on this work has been posted at https://github.com/whatwg/dom/issues/365#issuecomment-1098416958 . Work in the touch events repo (if there is any) is still blocked on work in the DOM repo; no need for the touch events editors to do anything yet.

[2022-05-09 14:27] #76 closed, assigned to nobody

[2022-05-10 17:07] patrickhlauke opened #118 "TODO: Need a WPT for getModifierState"
See https://github.com/w3c/touch-events/pull/91

[2022-06-28 09:53] zcorpan opened #130 "Require non-cancelable events with "should" or "must" when there are only passive listeners"
The spec allows non-cancellable events in https://w3c.github.io/touch-events/#cancelability

Why is this is only a "may", and not a "must" or at least "should"?

(This came up in https://github.com/web-platform-tests/wpt/issues/34464#issuecomment-1168496273 )

[2022-06-29 08:50] patrickhlauke commented on #130
i believe some of the cautious language (should and may, rather than must) was a result of the history of this spec (and the fact that further development is only a CG draft report), which more or less retrospectively documented behavior done by Webkit (coupled with the fact that there was initially a bit of a PAG saber-rattling over the original 1.0 spec itself).

happy to go over the spec and ma

[2022-06-29 09:47] #130 closed, assigned to nobody

[2022-06-29 14:46] zcorpan opened #133 "Expected behavior of non-cancelable events intervention is unclear"
https://w3c.github.io/touch-events/#cancelability

First, this section covers two separate (but related) interventions, but that is not clear. The second paragraphs says "In particular", which sounds like it's clarifying the first paragraph, but it's actually introducing the second intervention. This should be clearer.

Second, the expected behavior of the first intervention should be more clearly